<main class="  bg-[#f4f5fa] p-0 m-0 w-full flex min-h-screen">
  
  
    <aside class="sidebar  ">
        <app-sidebar/>
    </aside>
    <div class="flex  w-full flex-col">
        <app-header class="header " />
        <main class="dashboard grid   grid-cols-1 w-full lg:grid-cols-4 gap-6 px-4 lg:px-10 place-content-center py-10">
          
            <aside class="bg-white w-auto   p-4 space-y-4 lg:col-span-1 lg:m-0 mx-auto">
              
                <div>
                    <h2 class="text-xl font-semibold mb-4">Project Overview</h2>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="text-center bg-[#f6f9ff] py-3 rounded-lg">
                            <p class="text-2xl font-bold text-blue-500">65</p>
                            <p class="text-sm">All Project</p>
                        </div>
                        <div class="text-center bg-[#f6f9ff] py-3 rounded-lg">
                            <p class="text-2xl font-bold text-blue-500">35</p>
                            <p class="text-sm">Complete</p>
                        </div>
                        <div class="text-center bg-[#f6f9ff] py-3 rounded-lg">
                            <p class="text-2xl font-bold text-blue-500">15</p>
                            <p class="text-sm">Running</p>
                        </div>
                        <div class="text-center bg-[#f6f9ff] py-3 rounded-lg">
                            <p class="text-2xl font-bold text-blue-500">9</p>
                            <p class="text-sm">Pending</p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="flex items-center justify-between py-2 border-2 rounded-xl px-4">
                            <div class="flex items-center">
                                <img   src="https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671142.jpg?size=338&ext=jpg&ga=GA1.1.933601817.1717459200&semt=sph" alt="Project" class="mr-2 h10 w-10">
                                <div class="flex flex-col ml-2">
                                    <p class=" font-bold">Project</p>
                                    <span> Success Rate</span>

                                </div>
                            </div>
                            <p class="font-bold">90%</p>
                        </div>
                        
                        <div class="flex items-center mt-3 justify-between py-2 border-2 rounded-xl px-4">
                            <div class="flex items-center">
                                <img   src="https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671142.jpg?size=338&ext=jpg&ga=GA1.1.933601817.1717459200&semt=sph" alt="Project" class="mr-2 h10 w-10">
                                <div class="flex flex-col ml-2">
                                    <p class=" font-bold">Project</p>
                                    <span> Success Rate</span>

                                </div>
                            </div>
                            <p class="font-bold">90%</p>
                        </div>
                        
                    </div>
                </div>
           
                <div>
                    <div class="flex items-center justify-between  mb-4">
                        <h2 class="text-xl font-semibold ">Notification</h2>
                        <h1 class=" font-medium">95+</h1>
                    </div>
                    <div class="flex items-center space-x-2 mb-4">
                        <button class="bg-blue-500 text-white px-3 py-1 rounded">Team</button>
                        <button class="border-2 px-3 py-1 rounded">Client</button>
                        <button class="border-2 px-3 py-1 rounded">Personal</button>
                    </div>
                    <div class=" shadow rounded-lg border-2 ">
                        <div class="flex items-center justify-between py-3 px-4 rounded-t-lg mb-4 bg-[#343a46] text-white">
                            <h3 class="font-semibold text-xl">Group Chat</h3>
                            <button class=" font-medium">+ Add</button>
                        </div>
                        <div class="space-y-4 p-4">
                            <div class="flex items-start space-x-2">
                                <img src="https://github.com/hearelmer.png" alt="User" class="rounded-full  h-10 w-10">
                                <div>
                                    <p class="text-gray-600 p-2 bg-[#f6f7f9]">Lorem Ipsum is simply dummy text of the printing and</p>
                                    <p class="text-xs text-gray-400">8:00 am</p>
                                </div>
                            </div>
                             
                        </div>
                        <div class="space-y-4 p-4">
                            <div class="flex items-start space-x-2">
                                <img src="https://github.com/hearelmer.png" alt="User" class="rounded-full  h-10 w-10">
                                <div>
                                    <p class="text-gray-600 p-2 bg-[#f6f7f9]">Lore text of the printing and</p>
                                    <p class="text-xs text-gray-400">8:00 am</p>
                                </div>
                            </div>
                             
                        </div>
                        <div class="space-y-4 p-4">
                            <div class="flex items-start space-x-2">
                                <img src="https://github.com/hearelmer.png" alt="User" class="rounded-full  h-10 w-10">
                                <div>
                                    <p class="text-gray-600 p-2 bg-[#f6f7f9]">Lorem  </p>
                                    <p class="text-xs text-gray-400">8:00 am</p>
                                </div>
                            </div>
                             
                        </div>
                        <div class="mt-4 flex items-center px-4 pb-4">
                            <input type="text" class="w-full border rounded-l-lg px-3 py-2 focus:outline-none" placeholder="Write here...">
                            <button class="bg-blue-500 text-white px-2 py-2 rounded-r-lg"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffffff" d="M4.4 19.425q-.5.2-.95-.088T3 18.5V14l8-2l-8-2V5.5q0-.55.45-.837t.95-.088l15.4 6.5q.625.275.625.925t-.625.925z"/></svg></button>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-span-3 flex flex-col">
                <h1 class=" text-2xl font-semibold mb-4">Current project</h1>
                <div class="w-full grid grid-cols-1 mb-10 lg:grid-cols-3 gap-4">
                    <div class="container mx-auto px-4 py-6 text-white bg-[#5051f9] rounded-xl lg:h-60">
                        <header class="rounded-lg mb-8">
                            <div class="flex justify-between items-center py-4 pb-1 px-2">
                                <h1 class="text-xl font-normal">BitJenix Ded</h1>
                                <button class="border-2 border-white text-white px-4 py-2 rounded-md">View Details</button>
                            </div>
                        </header>
                        <section class="rounded-lg pt-0 p-6">
                            <h2 class="text-xl font-bold mb-4">Website Development</h2>
                            <div class="flex flex-col md:flex-row justify-between items-start">
                                <div class="mb-4 md:mr-4">
                                    <p>Tasks:</p>
                                    <span class="font-bold">25</span>
                                </div>
                                <div class="mb-4 md:mr-4">
                                    <p>Completed:</p>
                                    <span class="font-bold">15</span>
                                </div>
                                <div>
                                    <p>Assigned:</p>
                                    <span class="font-bold">5</span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="container mx-auto px-4 py-6 text-white bg-[#1da7ff] rounded-xl lg:h-60">
                        <header class="rounded-lg mb-8">
                            <div class="flex justify-between items-center py-4 pb-1 px-2">
                                <h1 class="text-xl font-normal">BitJenix Ded</h1>
                                <button class="border-2 border-white text-white px-4 py-2 rounded-md">View Details</button>
                            </div>
                        </header>
                        <section class="rounded-lg pt-0 p-6">
                            <h2 class="text-xl font-bold mb-4">Website Development</h2>
                            <div class="flex flex-col md:flex-row justify-between items-start">
                                <div class="mb-4 md:mr-4">
                                    <p>Tasks:</p>
                                    <span class="font-bold">25</span>
                                </div>
                                <div class="mb-4 md:mr-4">
                                    <p>Completed:</p>
                                    <span class="font-bold">15</span>
                                </div>
                                <div>
                                    <p>Assigned:</p>
                                    <span class="font-bold">5</span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="container mx-auto px-4 py-6 text-white bg-[#ff8a00] rounded-xl lg:h-60">
                        <header class="rounded-lg mb-8">
                            <div class="flex justify-between items-center py-4 pb-1 px-2">
                                <h1 class="text-xl font-normal">BitJenix Ded</h1>
                                <button class="border-2 border-white text-white px-4 py-2 rounded-md">View Details</button>
                            </div>
                        </header>
                        <section class="rounded-lg pt-0 p-6">
                            <h2 class="text-xl font-bold mb-4">Website Development</h2>
                            <div class="flex flex-col md:flex-row justify-between items-start">
                                <div class="mb-4 md:mr-4">
                                    <p>Tasks:</p>
                                    <span class="font-bold">25</span>
                                </div>
                                <div class="mb-4 md:mr-4">
                                    <p>Completed:</p>
                                    <span class="font-bold">15</span>
                                </div>
                                <div>
                                    <p>Assigned:</p>
                                    <span class="font-bold">5</span>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
               
                <div class="flex lg:flex-row flex-col gap-6">

                    <section class="  flex flex-col  w-full gap-6 ">
                           
                            <div class="col-span-2 bg-white px-6 py-2 rounded-xl shadow-lg lg:h-16 flex flex-wrap justify-between">
                                <h1 class=" text-2xl font-bold">All project</h1>
                                <div class="flex items-center gap-2 font-medium text-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 15 15"><path fill="none" stroke="#333333" d="m14.5 14.5l-4-4m-4 2a6 6 0 1 1 0-12a6 6 0 0 1 0 12Z"/></svg>
                                    Search
                                </div>
                                <div class="flex gap-2 py-1 font-medium text-xl">
                                    <button class=" rounded-lg border-2 py-1 px-4 outline-none">
                                        + Create project
                                    </button>
                                    <button class=" rounded-lg border-2 py-1 px-4 outline-none">
                                        See all
                                    </button>
                                </div>
                            </div>
                           <div class="col-span-2">

                               @for (item of data; track $index) {
                                <div class="col-span-2 bg-white px-4 py-6 mt-4 rounded-xl grid md:grid-cols-5 gap-4">
                                    <img src="{{item.img}}" class="w-full h-40 md:w-40 md:h-40 row-span-2 rounded-lg object-cover" alt="">
                                
                                    <div class="flex flex-col gap-4 row-span-1 col-span-3 md:col-span-1">
                                        <h1 class="text-xl font-semibold text-slate-600">Project Name</h1>
                                        <h1 class="text-xl font-semibold">App Design</h1>
                                    </div>
                                
                                    <div class="flex flex-col gap-4 row-span-1 col-span-3 md:col-span-1">
                                        <h1 class="text-xl font-semibold text-slate-600">Time</h1>
                                        <h1 class="text-xl font-semibold text-slate-600 flex">
                                            <span class="font-bold text-black">24</span> Jun to 
                                            <span class="font-bold text-black">24</span> Jul
                                        </h1>
                                    </div>
                                
                                    <div class="flex gap-10 row-span-1 col-span-3 md:col-span-1 pl-4">
                                        <div class="flex flex-col gap-4">
                                            <h1 class="text-xl font-semibold text-slate-600">Progress</h1>
                                            <h1 class="text-2xl font-semibold text-green-400">90%</h1>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <h1 class="text-xl font-semibold text-slate-600">Priority</h1>
                                        <h1 class="text-2xl font-semibold" :class="item.priority === 'High' ? 'text-red-400' : 'text-green-400'">{{item.priority}}</h1>
                                    </div>
                                
                                    <div class="flex w-full col-span-4 border-t-2 pt-2 mt-2 justify-between items-center">
                                        <div class="flex gap-10 items-center">
                                            <h1 class="text-slate-600 text-xl font-bold">Assign</h1>
                                            <div class="flex">
                                                <div class="flex justify-end mr-2">
                                                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-10 w-10 -mr-2" src="https://randomuser.me/api/portraits/men/32.jpg" alt="">
                                                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-10 w-10 -mr-2" src="https://randomuser.me/api/portraits/women/31.jpg" alt="">
                                                    <img class="border-2 border-white dark:border-gray-800 rounded-full h-10 w-10 -mr-2" src="https://randomuser.me/api/portraits/men/33.jpg" alt="">
                                                    <span class="flex items-center justify-center bg-white dark:bg-gray-800 text-sm text-gray-800 dark:text-white font-semibold border-2 border-gray-200 dark:border-gray-700 rounded-full h-10 w-10">+999</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex gap-3">
                                            <div class="flex gap-2">
                                                0
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#666666" stroke-linejoin="round"><path stroke-linecap="round" stroke-width="2.5" d="M12 21a9 9 0 1 0-8-4.873L3 21l4.873-1c1.236.639 2.64 1 4.127 1"/><path stroke-width="3.75" d="M7.5 12h.01v.01H7.5zm4.5 0h.01v.01H12zm4.5 0h.01v.01h-.01z"/></g></svg>
                                            </div>
                                            <div class="flex gap-2">
                                                0
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#666666" stroke-linejoin="round"><path stroke-linecap="round" stroke-width="2.5" d="M12 21a9 9 0 1 0-8-4.873L3 21l4.873-1c1.236.639 2.64 1 4.127 1"/><path stroke-width="3.75" d="M7.5 12h.01v.01H7.5zm4.5 0h.01v.01H12zm4.5 0h.01v.01h-.01z"/></g></svg>
                                            </div>
                                            <div class="p-2 rounded-xl bg-slate-400">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024"><path fill="#333333" d="M176 416a112 112 0 1 1 0 224a112 112 0 0 1 0-224m336 0a112 112 0 1 1 0 224a112 112 0 0 1 0-224m336 0a112 112 0 1 1 0 224a112 112 0 0 1 0-224"/></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                               }
                           </div>
                            
                    </section>
                    <div class="rounded-xl bg-white py-14 px-6 col-span-1 lg:w-[600px]">
                        <div class="flex justify-between">
                            <h1 class=" text-2xl font-bold">Task schelure</h1>
                            <div class="bg-slate-200 py-1 px-2 rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024"><path fill="#333333" d="M176 416a112 112 0 1 1 0 224a112 112 0 0 1 0-224m336 0a112 112 0 1 1 0 224a112 112 0 0 1 0-224m336 0a112 112 0 1 1 0 224a112 112 0 0 1 0-224"/></svg>
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-14" >
                                <div class="flex flex-col">
                                    <h1 class=" text-2xl font-bold">25</h1>
                                    <span class=" text-slate-600 text-lg font-semibold">Nvmeber 2023</span>
                                </div>
                                <div class="flex gap-2">
                                    <svg class=" p-2 rounded-xl border-2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#2d5a9e" d="m2.82 12l7.715 7.716q.22.22.218.528t-.224.529t-.529.221t-.529-.221L1.83 13.137q-.242-.243-.354-.54q-.111-.299-.111-.597t.111-.596q.112-.298.354-.54L9.47 3.22q.221-.221.532-.218q.31.003.532.224q.22.221.22.529t-.22.529z"/></svg>
                                    <svg class=" p-2 rounded-xl border-2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#2d5a9e" d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z"/></svg>
                                </div>
                        </div>
                        <div class="card rounded-xl border-2 py-4 px-4 flex gap-4 mt-6">
                            <div class="p-2 rounded-xl bg-slate-200 h-14">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="#eab308" d="M6.08 5.555a6.048 6.048 0 0 0 3.055 10.593v-7.54L6.08 5.556zm7.828.004l-3.05 3.05v7.536a6.048 6.048 0 0 0 3.05-10.587z"/><path fill="#eab308" d="M3.414 2.89C1.424 4.69.164 7.287.168 10.173c.007 5.406 4.42 9.806 9.828 9.806s9.82-4.4 9.828-9.806c.004-2.886-1.255-5.482-3.246-7.285L14.865 4.6a7.36 7.36 0 0 1 2.524 5.568c-.007 4.09-3.3 7.375-7.394 7.375S2.61 14.26 2.604 10.17a7.36 7.36 0 0 1 2.523-5.568z"/><circle cx="10" cy="3.32" r="3.32" fill="#eab308"/></svg>
                            </div>
                            <div class="flex flex-col">
                                <h1 class=" text-2xl font-bold">Meeting with team</h1>
                                <div class="flex gap-2 my-2">
                                    <button class=" rounded-lg py-1 px-3 bg-[#f9eee5] text-[#fe9c31]">Client</button>
                                    <button class=" rounded-lg py-1 px-3 bg-[#a7cdfd] text-[#5595f9]">ux Audt</button>
                                </div>
                                <div class="flex justify-between">
    
                                    <p class=" text-gray-400">Zoom</p>
                                    <p class=" text-gray-400">10:00 am</p>
                                </div>
                            </div>
    
                        </div>
                        <div class="card rounded-xl border-2 py-4 px-4 flex gap-4 mt-6">
                            <div class="p-2 rounded-xl bg-slate-200 h-14">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="#eab308" d="M6.08 5.555a6.048 6.048 0 0 0 3.055 10.593v-7.54L6.08 5.556zm7.828.004l-3.05 3.05v7.536a6.048 6.048 0 0 0 3.05-10.587z"/><path fill="#eab308" d="M3.414 2.89C1.424 4.69.164 7.287.168 10.173c.007 5.406 4.42 9.806 9.828 9.806s9.82-4.4 9.828-9.806c.004-2.886-1.255-5.482-3.246-7.285L14.865 4.6a7.36 7.36 0 0 1 2.524 5.568c-.007 4.09-3.3 7.375-7.394 7.375S2.61 14.26 2.604 10.17a7.36 7.36 0 0 1 2.523-5.568z"/><circle cx="10" cy="3.32" r="3.32" fill="#eab308"/></svg>
                            </div>
                            <div class="flex flex-col">
                                <h1 class=" text-2xl font-bold">Meeting with team</h1>
                                <div class="flex gap-2 my-2">
                                    <button class=" rounded-lg py-1 px-3 bg-[#f9eee5] text-[#fe9c31]">Client</button>
                                    <button class=" rounded-lg py-1 px-3 bg-[#a7cdfd] text-[#5595f9]">ux Audt</button>
                                </div>
                                <div class="flex justify-between">
    
                                    <p class=" text-gray-400">Zoom</p>
                                    <p class=" text-gray-400">10:00 am</p>
                                </div>
                            </div>
    
                        </div>
                        <div class="card rounded-xl border-2 py-4 px-4 flex gap-4 mt-6">
                            <div class="p-2 rounded-xl bg-slate-200 h-14">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="#eab308" d="M6.08 5.555a6.048 6.048 0 0 0 3.055 10.593v-7.54L6.08 5.556zm7.828.004l-3.05 3.05v7.536a6.048 6.048 0 0 0 3.05-10.587z"/><path fill="#eab308" d="M3.414 2.89C1.424 4.69.164 7.287.168 10.173c.007 5.406 4.42 9.806 9.828 9.806s9.82-4.4 9.828-9.806c.004-2.886-1.255-5.482-3.246-7.285L14.865 4.6a7.36 7.36 0 0 1 2.524 5.568c-.007 4.09-3.3 7.375-7.394 7.375S2.61 14.26 2.604 10.17a7.36 7.36 0 0 1 2.523-5.568z"/><circle cx="10" cy="3.32" r="3.32" fill="#eab308"/></svg>
                            </div>
                            <div class="flex flex-col">
                                <h1 class=" text-2xl font-bold">Meeting with team</h1>
                                <div class="flex gap-2 my-2">
                                    <button class=" rounded-lg py-1 px-3 bg-[#f9eee5] text-[#fe9c31]">Client</button>
                                    <button class=" rounded-lg py-1 px-3 bg-[#a7cdfd] text-[#5595f9]">ux Audt</button>
                                </div>
                                <div class="flex justify-between">
    
                                    <p class=" text-gray-400">Zoom</p>
                                    <p class=" text-gray-400">10:00 am</p>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
              
            </div>
            
          
        </main>
    </div>
   

</main>